<!-- <div class="center jumbotron">
  <h1>Login</h1>
  <div class="jumbotron center">
  	<form action="/action_page.php">
 	 	<div class="container">
 	 		<label class="usrpassformat"><b>Username</b></label> <br>
 	 		<input type="text" placeholder="Enter Email" name="uname" required> <br>
	
 	 		<label class="usrpassformat"><b>Password</b></label> <br>
 	 		<input type="password" placeholder="Enter Password" name="psw" required> <br>
	
 	 		<input type="checkbox" checked="checked" id="c1" name="cc">
 	 		<label for="c1">Remember Me</label> <br>
 	 		<button type="submit" class="login">Login</button>
 	 		<button type="button" class="rmbpassword">Forgot Password</button> <br>

 	 		<span class="signup_link"><a href="signup_path"> Signup Now!</a></span> 
 	 		<ul class="signup_link">
 	 			<strong> <%= link_to , signup_path %> </strong>	
 	 		</ul>
 	 		

    		<span class="psw">Forgot <a href="#">password?</a></span> 
    		
  		</div>
  	</form>
</div> --> 


